html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  background-color: rgba(220, 220, 220, 0.5);
}

.container {
  width: 50%;
  margin: 0 auto;
}

.accordion-title {
  margin: 2%;
  cursor: pointer;
}

.accordion-items {
  list-style: none;
  padding-left: 0;
}

.accordion-item {
  height: 100%;
  margin-bottom: 2%;
}

.accordion-input {
  display: none;
}

.accordion-item__head {
  padding: 2%;
  border-top: 0.1rem solid rgb(119, 118, 119);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-item__title {
  margin: 0;
  color: rgb(0, 0, 255);
  cursor: pointer;
  transition: 0.5s;
}

.accordion-item__close {
  display: none;
  font-size: 3rem;
  line-height: 0;
  cursor: pointer;
}

.accordion-item__content {
  max-height: 0;
  border-top: none;
  overflow: hidden;
  margin: 2%;
}

.accordion-item__content:active {
  transition: 0.5s;
  opacity: 0.5;
  cursor: pointer;
}

.accordion-item__img {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.accordion .accordion-input:checked~.accordion-item__label .accordion-item__head .accordion-item__label .accordion-item__close {
  transition: 0.5s;
  transform: rotate(45deg);    
}

.accordion .accordion-input:checked~.accordion-item__head .accordion-item__title {
transition: 0.5s;  
color: rgb(0, 0, 0); 
}

.accordion .accordion-input:checked~.accordion-item__content {
  max-height: 100vh;
  cursor: pointer;
  transition: 1s;
}

.accordion .accordion-items:hover .accordion-item__close {
  display: block;
}

.accordion .accordion-item__img:hover {
  transform: scale(102%);
  transition: 0.5s;
}

.accordion .accordion-items:hover .accordion-item__label .accordion-item__head .accordion-item__title {
  color: rgb(0, 0, 0);
}

.accordion .accordion-input:hover~.accordion-item__content {
  max-height: 100vh;
  cursor: pointer;
  transition: 1s;
}

.accordion .accordion-item__label:hover .accordion-item__head .accordion-item__close {
  transform: rotate(45deg);
  transition: 0.3s;
}